*{
  margin:0;
  padding: 0;
  text-decoration: none;
}
element.style{
  margin:0;
}
/* Sidebar css */
.container{
  display:flex;
}
main {
  width:100%;
  padding: 20px 0px;
}
.sidebar{
  height: 100vh;
  color: azure;
  width:200px;
  opacity: 7.9;
}
.top-section{
  display:flex;
  align-items:center;
  padding:2px 15px;
  margin-bottom: 30px;
}
.logo{
  height: 50px;
  width: 50px;
  align-items: center;
  margin: 10px;
  border-radius: 50px;
}
.bars{
  font-size: 35px;
  display: flex;
  margin-left: 30px;
}
.bars:hover{
  color: red;
  background-color: white;
}
.link{
  display:flex;
  color:#fff;
  padding: 10px 15px;
  gap:15px;
}
.link:hover{
  background-color: white;
  color: red;
  transition: all 0.5s;
}
/* sidebar css closed */